    <table class="ui grey table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <% @menu_category.menu_items.each do |item|%>
        <tbody>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
          </tr>
        </tbody>
        <% end %>
    </table>