  <div class="row">
    <div class="column">
      <h1 class="ui header"> Choose Restaurant</h1>
      <div class="ui divider"></div>
    </div>
  </div>
  <%= form_with url: restaurant_details_restaurants_path , method: :get do |f| %>
    <div>
      <%= select_tag "restaurant_id", options_from_collection_for_select(@restaurants, "id", "name"), 
      prompt: "Select restaurant", class: "ui dropdown", onchange: "this.form.submit();"
    %>
    </div>
  <% end%>
<script>

  $('.ui.dropdown').dropdown();

</script>