  <%= link_to "Back", restaurants_path, class: "ui button" %>
<div>
  <h4> Import Data </h4>
  <%= link_to "Import", new_import_restaurant_path(@restaurant), class: 'ui button' %>
  <table class="ui collapsing  selectable celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
    </tr>
  </thead>
    <% @restaurant.menu_categories.each do |category|%>
      <tbody>
        <tr>
          <td><%= link_to category.name, list_menu_items_restaurants_path(item_id: category.id), remote: true%></td>
          <td><%= category.menu_items.count %></td>
        </tr>
      </tbody>
      <% end %>
</table>

<div id="menu_items">
  
</div>
</div>

